/* .singlePost {
  flex: 9;
} */
hr{
  margin-left: 30%;
  margin-right: 30%;
  color: black;
  border: 1px solid black;
}
.singlePostWrapper {
  padding-right: 0;
}

.singlePostImg {
  justify-content: center;
  width: 70%;
  height: 500px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  object-fit: cover;
}
.singlePostTitle{
  color: rgb(43, 206, 206);
  text-align: center;
  font-size: 40px;
  padding-top: 90px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.postCat{
  color: rgb(43, 206, 206);
  font-size: 19px;
  margin-left: 45%;
  padding-top: 40px;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.singlePostInfo{
  /* margin-top: 40px;
  margin-left: 30%;
  margin-right: 30%; */
  /* text-align: center;
  font-weight: bold;
  color: rgb(43, 206, 206);
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  */
}
.singlePostInfo1{
  /* float: right; */
  /* float: right; */
  display: inline-block;
  font-size: 16px;
  color: #000000;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;

}
/* .singlePostAuthor{
  color: rgb(11, 10, 10);
} */
.singlePostEdit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}
.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  /* margin-bottom: 20px; */
  display: inline-block;
  /* justify-content: space-between; */
  font-size: 16px;
  color: #000000;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.singlePostAuthor{
  margin-left: 5px;
}

.singlePostDesc {

  text-align: center;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 40px;
  font-weight: 600;
}

.colorchange:active{
  color: rgb(255, 0, 34);
}
.grid{
  width: 100%;
  height: 300px;
  background-image: linear-gradient(180deg, rgb(0, 0, 0), rgb(100, 100, 98));

}.like{
  margin-left: 30%;
  margin-right: 30%;
  color: rgb(43, 206, 206);
  display: inline-block;
    text-align: center;
    font-size: 20px;

    font-weight: 400;
  font-family: Arial, Helvetica, sans-serif; 
  cursor: pointer;
}
.comment{
  margin-left: 30%;
  margin-right: 30%;
  color: rgb(43, 206, 206);
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  /* float : right; */
  font-family: Arial, Helvetica, sans-serif; 
  cursor: pointer;
}