*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'clamp';
} 
.logo-name{
  position: absolute;
  top: 15px;
  left: 30px;
  color: rgb(255, 255, 255);
  font-weight: bolder;

}
nav{
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #1e6369;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  width: 100px;
  height: 100px;  
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  /* font-size: 20px; */
  color: white;
  margin: 0 5px;
}
nav ul li a{ 
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 19px;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a:hover{
  color: rgb(130, 232, 246);
 }
nav .menu-btn i{
  color: rgb(255, 255, 255);
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 100px;
    right: -100%;
    background-color: rgb(31, 58, 72);
    height: 100%;
    width: 50%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    right: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
