.comments {
   margin-left: 30%;
   margin-right: 30%;
   margin-top: 100px;
   /* height: 800px; */
   border: 2px solid #ffffff;
   /* box-shadow: 0 12px 16px 0 rgb(255, 255, 255), 0 17px 50px 0 rgba(0,0,0,0.19);
   border-radius: 10px; */
    }
  hr{
    margin-left: 30%;
    margin-right: 30%;
  }
  .comments-title {
text-align: center;  
font-size: 40px;
  }
  
  .comments-container {
    margin-top: 40px;
  }
  
  .comment-form-title {
    font-size: 22px;
  }
  
  .comment-form-textarea {
    width: 100%;
    height: 40px;
    margin-top: 8px;
    border: 1px solid black;
    box-shadow: 0 12px 16px 0 rgb(255, 255, 255), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .comment-form-button {
    /* float: right; */
    font-size: 16px;
    padding: 8px 16px;
    background: black;
    color: rgb(255, 255, 255);
    margin-left: 5px;
    border: 2px solid #ffffff;
    box-shadow: 0 12px 16px 0 rgb(255, 255, 255), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
  }
  
  /* .comment-form-button:hover:enabled {
    cursor: pointer;
    background: rgb(37, 99, 235);
  }
   */

  .comment-form-button:disabled {
    opacity: 0.7;
    cursor: default;
  }
  
  .comment-form-cancel-button {
    margin-left: 10px;
    background-color: black;
  }
  
  .comment {
    color: #000;
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    margin-bottom: 28px;
    /* justify-content: center; */
    

  }
  
  .comment-image-container {
  }
  
  .comment-image-container img {
    border-radius: 80px;
  }
  
  .comment-right-part {
    float: left;
  }
  
  .comment-content {
    display: flex;
    
  }
  
  .comment-author {
    margin-right: 8px;
    font-size: 20px;
    color: rgb(59, 130, 246);
  }
  
  .comment-text {
    font-size: 18px;
  }
  
  .comment-actions {
    display: flex;
    font-size: 12px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    margin-top: 8px;
  }
  
  .comment-action {
    margin-right: 8px;
  }
  
  .comment-action:hover {
    text-decoration: underline;
  }
  
  .replies {
    margin-top: 20px;

  }
  