
/* *{
  font-family: 'Roboto Mono';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #444444;
  } */
.post {
width: 390px;
margin-left: 130px ;
margin-top: 30px;
  /* display: flex; */
flex-direction: column;
border: 2px solid #ffffff; /* Green */
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.post:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.postImg {
  width: 385px;
  height: 280px;
  object-fit: cover;
  border-radius: 7px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.postCat {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400, bold;
  font-size: 13px;
  color: #999999;
  /* line-height: 19px; */
  margin-top: 15px;
  cursor: pointer;
}

.postTitle {
  font-family: "Lora", serif;
  font-size: 24px;
  font-weight: 900;
  color: #013036;
  cursor: pointer;
  margin-top: 20px;
}

.postDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 15px;
  font-weight: 400;
  color: #999999;
}

.postDesc {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  /* margin-top: 15px; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
